@import "tailwindcss";
@import "flowbite/src/themes/default";

body{
    font-family: "Capriola", sans-serif;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 375px;
  --breakpoint-md: 576px;
  --breakpoint-lg: 992px;
  --breakpoint-xl:1320px;
  --color-common: #B48F41;
}

@utility container {
  @apply mx-auto
}

.container{
  margin: auto;
}

@layer components {
  .btn{
    width: 127px;
    color: white;
    background-color: #B48F41;
    font-size: 15px;
    padding: 10px 8px;
  }
}
